.modal {
  position: fixed;
  z-index: 100;
  top:0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background-color: rgba(229, 229, 229, 0.3);
  display: none;
  justify-content: center;
  align-items: center;
}
.modal.is-open {
  display: flex;
}
.modal-container {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 20px 40px 25px;
  min-width: 300px;
  max-width: 440px;
  min-height: 200px;
  min-height: 30px;
  /* overflow-y: auto; */
  background-color: rgba(45, 45, 48, 1);
  font-weight: 100;
  font-size: 16px;
  border-radius: 15px;
  flex: 1;
  flex-wrap: wrap;
  line-height: 37px;
}
.modal-container h2 {
  display: flex;
  justify-content: center;
  color: rgba(224, 152, 35, 1);
  font-weight: 300;
  margin-bottom: 15px;
}
.modal-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  border: none;
  background-color: transparent;
  color: white;
  height: 20px;
  width: 20px;
}
.modal-close svg {
  height: 18px;
  width: 18px;
}

/* 
CREATE PRODUCT
*/

.btn-create-product, .btn-update-product, .btn-delete-product {
  display: flex;
  justify-content: center;
  /* margin-top: 15px; */
  background-color: rgba(224, 152, 35, 1);
  border: none;
  padding: 5px 50px;
  border-radius: 10px;
  align-self: center;
  color: white;
  font-weight: 300;
  font-size: 15px;
  margin: 25px;
}
.modal-container div {
  /* border: 1px solid red; */
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.modal-container input {
  background-color: rgba(76, 76, 81, 1);
  border: none;
  border-radius: 10px;
  outline: none;
  height: 28px;
  display: flex;
  justify-content: flex-end;
  color: white;
  padding: 0px 10px;
}