.container-principal {
  display: flex;
  flex-direction: column;
}
.image-products-cart {
  background-image: url('../assets/img/burger-header.png');
  background-position: center;
  background-size: cover;
  height: 200px;
  display: flex;
  flex-wrap: wrap;
}
.logo-products-cart {
  background-image: url('../assets/img/logoBQ-transparente.png');
  background-position: center;
  background-size: cover;
  width: 200px;
  height: 200px;
  margin: 10px 50px;
}
.line-products-cart {
  background-color: rgba(224, 152, 35, 1);
  height: 10px;
}
.container-menu-car {
  /* border: 1px solid red; */
  margin: 20px 20px 0;
  list-style: none;
  display: flex;
  justify-content: flex-end;
}
/* .container-menu-car div {
  display: flex;
  justify-content: flex-end;
} */
.container-menu-car li {
  display: flex;
  flex-direction: column;
  justify-self: flex-end;
}
.container-menu-car a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  margin: 10px 20px;
}
.container-menu-car svg {
  width: 25px;
  height: 25px;
  color: black;
}
.icon-shopping-cart {
  background-color: rgba(224, 152, 35, 1);
  border-radius: 30px;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  position: relative;
  top: -10px;
}
.icon-shopping-cart:hover {
  background-color: rgba(224, 152, 35, 0.6);
}
.link-personal-area a:hover {
  color: rgba(224, 152, 35, 1);
}
.products-cart-principal {
  /* border: 1px solid green; */
  color: white;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.container-products-cart {
  display: flex;
  flex-wrap: wrap;
}
.products-cart-principal h1 {
  margin-bottom: 20px;
}
.hide {
  display: none;
}