/* .container-products {
  background-color: rgba(45, 45, 48, 1);
  color: white;
  font-size: 20px;
} */

.img-products {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  width: 200px;
  height: 150px;
}
.container-products {
  display: flex;
  flex-direction: column;
}
.btn-new-product {
  display: flex;
  justify-content: center;
  margin: 15px 0px;
}
.btn-new-product button {
  display: flex;
  padding: 8px 50px;
  color: white;
  background-color: rgba(224, 152, 35, 1);
  border: none;
  border-radius: 10px;
}
.btn-new-product button svg {
  margin: 0px 5px;
  height: 16px;
  width: 16px;
}
.header-table-products {
  color: rgba(224, 152, 35, 1);
  font-weight: 400;
}
.elements-table-products {
  font-weight: 100;
  font-size: 18px;
  text-align: center;
  /* color: blue; */
}
.row-table-products{
  line-height: 26px;
}
table {
  line-height: 32px;
  border-collapse: separate;
  border-spacing: 10px 5px;
}
.btn-update-table, .btn-delete-table {
  color: white;
  border: none;
  background-color: transparent;
}
.btn-update-table svg, .btn-delete-table svg {
  height: 20px;
  width: 20px;
  margin: 0px 7px;
}
/* 
  Pagination
*/
.container-links-pagination {
  display: flex;
}
.pagination {
  border: none;
  background-color: transparent;
  color: rgba(224, 152, 35, 1);
  display: flex;
  margin: 20px 10px;
  font-size: 16px;
}
.pagination svg {
  width: 20px;
  height: 20px;
}
.pagination:hover {
  color: white;
}