*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.msgContainer{
  width: 80vw;
  margin: 0 auto;
  text-align: center;
  padding: 100px 0;
}
.mensajeD{
  color:rgb(216, 92, 113);
  font-weight: 900;
}
.mensajeJ{
  color:rgb(68, 101, 248);
  font-weight: 900;
}
